*.bat
*.egg
*.egg-info
*.log
*.mo
*.o
*.obj
*.py[cod]
*.pyc
*.ropeproject
*.so
*.so
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.python-version
.tags*
.tox
bin
build
develop-eggs
dist
docs/_build
eggs
lib
lib64
nosetests.xml
output/*.html
output/*/index.html
parts
pip-log.txt
po
pole
sdist
*.sqlite3
*/assets/*
