{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Delete Category" %}{% endblock title %}

{% block content %}

<h2>{% trans "Delete Category" %}</h2>

<p>
    {% blocktrans with name=category.name %}
    Are you sure you want to delete "{{ name }}"?
    {% endblocktrans %}
</p>

<form method="post" action=".">
    {% csrf_token %}

    <div class="form-actions">
        <a href="{% url 'category:category_list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
        <button type="submit" class="btn btn-danger">{% trans "Yes, I'm sure" %}</button>
    </div>
</form>

{% endblock content %}
