{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Edit Category" %}{% endblock %}

{% block content %}

<h2>{% trans "Edit Category" %}</h2>

<div class="row">
    <form method="post" action="." class="col-md-6">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="form-actions">
            <button name="submit" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'category:category_list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>

<br />

<p>
   {% trans "You can also" %}
   <a href="{% url 'category:category_delete' category.slug %}">{% trans "delete" %}</a>
   {% trans "this category." %}
</p>

{% endblock content %}
