{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Delete Budget" %}{% endblock title %}

{% block content %}

<h2>{% trans "Delete Budget" %}</h2>

<p>
    {% blocktrans with name=budget.name %}
    Are you sure you want to delete "{{ name }}"?
    {% endblocktrans %}
</p>

<form method="post" action=".">
    {% csrf_token %}

    <div class="form-actions">
        <a href="{% url 'budget:budget_list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
        <button type="submit" class="btn btn-danger">{% trans "Yes, I'm sure" %}</button>
    </div>

</form>

{% endblock content %}
