{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Budget List" %}{% endblock title %}

{% block content %}

<p>
    <a class="btn btn-success" href="{% url 'budget:budget_add' %}">
        <i class="glyphicon glyphicon-plus"></i>
        {% trans "New Budget" %}
    </a>
</p>

<div id="budgets" class="panel panel-primary">
      <div class="panel-heading">
            <h3 class="panel-title">{% trans "Budget List" %}</h3>
      </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="sort" data-sort="id">#</th>
                <th class="sort" data-sort="name">{% trans "Name" %}</th>
                <th class="sort" data-sort="date">{% trans "Start Date" %}</th>
                <th class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        <input type="text" class="search form-control" placeholder="{% trans "Search..." %}" />
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="list">
            {% if budgets %}
                {% for budget in budgets %}
                    <tr>
                        <td class="id">{{ budget.id }}</td>
                        <td class="name">{{ budget.name }}</td>
                        <td class="date">{{ budget.start_date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>
                            <a href="{% url 'budget:budget_edit' budget.slug %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="{% url 'budget:budget_delete' budget.slug %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
                            <a class="btn btn-success btn-sm" href="{% url 'budget:estimate_list' budget.slug %}">{% trans "View/Add Estimates" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">{% trans "No budgets found." %}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% include 'pagination.html' %}

{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/list.min.js"></script>
    <script type="text/javascript">
        var options = {
            valueNames: ['id', 'name', 'date']
        };

        var budgetList = new List('budgets', options);
    </script>
{% endblock extra_js %}
