{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Edit Estimate" %}{% endblock title %}

{% block content %}

<h2>{% trans "Edit Estimate" %}</h2>

<div class="row">
    <form method="post" action="." class="col-md-6">
        {% csrf_token %}

        {% crispy form %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'budget:budget_list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>

<br />

<p>
    {% trans "You can also" %}
    <a href="{% url 'budget:estimate_delete' estimate.budget.slug estimate.id %}">{% trans "delete" %}</a>
    {% trans "this estimate." %}
</p>

{% endblock content %}
