{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css">
{% endblock extra_css %}

{% block title %}{% trans "Add A Transaction" %}{% endblock title %}

{% block content %}

<h2>{% trans "Add A Transaction" %}</h2>

<form method="post" action="." class="form-horizontal">
    {% csrf_token %}

    {% crispy form %}

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'transaction:transaction_list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
        </div>
    </div>
</form>

{% endblock content %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/datepicker.js"></script>
{% endblock extra_js %}
